.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.sectionShow{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 25%; */
    align-items: center;
}
 button{
    flex: 1 1 100%;
    width: fit-content;
    margin: 1%;
}

.sectionHide{
    display: none;
}