.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sectionShow{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}
/* made the intro narrower to make it look better for now */
#intro{
    width: 50%;
    justify-self: center;

}
 button{
    flex: 1 1 100%;
    width: 95%;
    margin: 1%;
    background-color: gray;
    color:white;
    
}

#btnStart{
    width: 50%;
}

.sectionHide{
    display: none;
}

/* #questionH2{
    width: fit-content;
} */

.initials-entry{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.initials-child{
    flex: 1 1 auto;
    width: 20%;
    
}
#submit{
    width: 20%;
    margin-left: 0;
    margin-right: 0;
}

/* need media queries  */

@media screen and (max-width: 992px){
    h2{
        font-size: 1em;
    }
    .initials-child {
        font-size: 12px;
    }

}
@media screen and (max-width: 768px){
    h2{
        font-size: 1em;
    }
}
