.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.sectionShow{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}
/* made the intro narrower to make it look better for now */
#intro{
    width: 20%;
    justify-self: center;

}
 button{
    flex: 1 1 100%;
    width: 95%;
    margin: 1%;
}

.sectionHide{
    display: none;
}

.initials-entry{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.initials-child{
    flex: auto;
}

/* need media queries  */
/* take some inpiration from boostrap */